**/__pycache__
.vscode
.idea
data-samples
flash-attention
mPLUG-DocOwl
mPLUG-Owl
.ipynb_checkpoints
ipynb
obgn-mag
output*
result
src/handle_ocr/mp
src/handle_ocr/sp
src/handle_ocr/*.txt
src/handle_ocr/*.jpg
src/handle_ocr/*.png
**/log.jsonl
/tmp.py
/tmp.txt
/*.jsonl
/*.json
/SimSun.ttf
**/SimSun.ttf
/test.jpg
/tiger.jpeg